name: Firebase Deploy

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Enable node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install dependencies
        run: yarn install

      - name: Deploy to Firebase
        run: |
          yarn deploy --token=${{ secrets.FIREBASE_TOKEN }}